
.flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}
.flexEnd {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}
.fullWidthHeight {
  width: 100%;
  height:100%
}
.marginAuto {
  margin: auto;
}

.pinkBg {
  background-color: rgb(224,213,175);
}

.pB10 {
  padding-bottom: 100px;
}

.whiteColor {
  color: white;
  margin: 0 auto;
}

.textStart {
  text-align: start;
}
.textCenter {
  text-align: center;
}

.textEnd {
  text-align: end;
}


.dFlex {
  display: flex;
}

.flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alignCenterStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.alignStartCenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.widthHeight-300 {
  width: 300px;
  height: 300px;
  margin-inline: auto;
}

.flexColumn {
  flex-direction: column;
}
.flexRow {
  flex-direction: row;
}
.padding0 {
  padding: 0;
}
.paddingTop50 {
  padding-top: 50px;
}
.carouselHeading {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
}
.carouselHeadingContainer {
  position: absolute;
  width: 50%;
  height: 50%;
}
.borderLeft {
  border-left: 1px solid rgba(0,0,0,.5);
}

.borderRight {
  border-right: 1px solid rgba(0,0,0,.5);
}

.borderBottom {
  border-bottom: 1px solid rgba(0,0,0,.5);
}
.privacy-text-field {
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  width: 80vw;
  height: auto;
}
.privacy-main {
  margin: 100px 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
