
.upperLinkBar {
  width: 100vw;
  height: 70px;
}

.sectionMain {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectionMain h2 {
  margin-bottom: 60px;
}

.imageContainer {
  position: relative;
  padding: 0;
  overflow: hidden;
  min-height: 550px;
  height: 40vh;
  margin: 50px 5vw;
}
.titleImage {
  position: relative;
  object-fit: contain;
  width: 90%;
  cursor: pointer;
  min-height: 200px;
  max-height: 500px;
  margin: 0 5vw;
  object-position: 40% 40%;
}

@media (max-width: 660px){
  .titleImage {
    object-fit: cover;
    min-height: 250px;
  }
}