.offcanvasToggleButton {
  padding: 5px;
  position: absolute;
  right: 20px;
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}