.searchForm {
  margin: 0 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.formInput {
  border-radius: 6px;
  padding: 6px 5px;
  border: none;
}
.formInput:hover {
  outline: none;
}
.formInput:focus {
  outline: none;
}

.headerButtonSearch {
  border-radius: 11px;
  background-color: black;
  opacity: .6;
  color: #646cff;
  padding: 7px 19px;
  margin-left: 20px;
}
.headerButtonSearch:hover{
  box-shadow: 0 0 20px #646cff;
  color: white;
  opacity: .8;
}

.darkBg {
  background-color: #212529;
}

.footerMainContainer {
  width: 100%;
  height: 300px;
  background-color: rgb(247,212,212);
}

.footerAnchor {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.footerMain {
  width: 100%;
}

/* HEADER */
.headerContainer {
  width: 100%;
  position: relative;
  top: 0;
  min-height: 140px;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 0;
}

.headerMain {
  width: 100vh
}

.logo {
  position: absolute;
  height: 150%;
  margin: 0 auto;
  cursor: pointer;
}

.headerButtonUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items:flex-end;
  height: 100%;

  width: 100%;
}


.blackColor {
  color: black;
  align-items:flex-end;
}

.navListItem {
  margin: 0 50px;
  position: relative;
  padding: 0 20px;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.headerAnchorWrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
  text-align: center;
}
.headerListAnchor {
  text-decoration: none;
  margin: 0 auto;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
}
.headerListAnchor:hover {
  opacity: .7;
}
@media (max-width: 960px) {
  .headerButtonUl {
    padding: 0;
    width: 100%;
    flex-direction: column;

  }
  .navListItem {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerAnchorWrap {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}



/* LOGO CONTAINER */
.amz_partnerDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
}
